# ignore run logs
runs/*
__pycache__
.ipynb_checkpoints
.DS_Store
*.pyc
build/*
Experiments/*

# ignore test notebooks
helperstest.ipynb
DirectRankerTest.ipynb
DirectRankerAdvTest.ipynb
SandboxDirectRankerAdv.ipynb
tets.ipynb
plot_results.ipynb
initializiationTest.ipynb
ExperimentDirectRankerAdv.ipynb
